<%- include('partials/head')  %>

<body>
    
<%- include('partials/nav') %>

<h1>Feed me burritos!</h1>

<% for(let i=0; i<burritoArray.length; i++) { %>
    <div class="nice-box">
        <div class="container">
            <h4><%= burritoArray[i].burrito.establishment %></h4>
            <h4>**USERNAME**</h4>
        </div>
                
                <p><%= burritoArray[i].burrito.burrito %></p>
                <p><i class="fas fa-star"></i><%= burritoArray[i].burrito.stars %></p>
                <p><%= burritoArray[i].burrito.file %></p>**Image**
                <p><%= burritoArray[i].burrito.comment %></p>
                <p><i class="fas fa-thumbs-up btn btn-lil"></i><%= burritoArray[i].likes %></p>
    </div>
<% } %> 

</body>

<%- include('partials/footer')  %> 