<%- include('partials/head')  %>

<body>

<%- include('partials/nav') %> 

<section class="profile-box">
    <h1>Hi, USERNAME</h1>
    <p>Profile info.</p>
    <p>You have rated **420** burritos</p>
    <p>Burrito Level:  **Legend**</p>
</section>

<section>
    <h2>Burritos you have ranked:</h2>

    <% for(let i=0; i<burritoArray.length; i++) { %>
        <div class="nice-box">
            <span><strong><%= burritoArray[i].burrito.establishment %></strong></span>
                    <p><%= burritoArray[i].burrito.burrito %></p>
                    <p><i class="fas fa-star"></i><%= burritoArray[i].burrito.stars %></p>
                    <p><%= burritoArray[i].burrito.file %></p>**Image**
                    <p><%= burritoArray[i].burrito.comment %></p>
                    <p><i class="fas fa-thumbs-up"></i><%= burritoArray[i].likes %></p>
                    <i class="far fa-trash-alt btn btn-lil"></i>
        </div>
    <% } %> 
</section>
     
</body>

<%- include('partials/footer') %> 